# Redirect http to https

RewriteEngine On 
RewriteCond %{HTTPS} !=on 
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L] 

# redirect old blog post URLs
Redirect Permanent /using-jewel-alert-control/ /blog/using-jewel-alert-control/