<footer class="footer">
  <div class="footer-row">
    <div class="footer-column">
      <ul class="footer-list">
        <li class="apacheroyale"><a href="/">Apache Royale</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/ides">IDEs and Editors</a></li>
        <li><a href="/showcase">Showcase</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/thanks-to">Thanks To</a></li>
        <li><a href="https://apache.org/logos/#royale">
            <i class="fa fa-external-link-square"></i> Logos
          </a></li>
        <li><a href="https://www.apache.org/licenses/">
            <i class="fa fa-external-link-square"></i> Apache License v2.0
          </a></li>
      </ul>
    </div>

    <div class="footer-column">
      <ul class="footer-list">
        <li class="documentation"><a href="/docs">Documentation</a></li>
        <li><a href="https://apache.github.io/royale-docs/get-started">Get Started</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/asdoc">API Reference</a></li>
        <li><a href="https://github.com/apache/royale-asjs/wiki">
            <i class="fa fa-github"></i >Wiki
          </a></li>
        <li><a href="https://stackoverflow.com/questions/tagged/apache-royale">
            <i class="fa fa-stack-overflow"></i> StackOverFlow Tag
          </a></li>
      </ul>
      <ul class="footer-list">
        <li class="community"><a href="/get-involved">Community</a></li>
        <li><a href="/get-involved">Get Involved</a></li>
        <li><a href="/mailing-lists">Mailing Lists</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/royale-commercial-support">Commercial Support</a></li>
      </ul>
      <ul class="footer-list">
        <li class="development"><a href="/source-code">Development</a></li>
        <li><a href="https://github.com/apache/royale-asjs/wiki/Apache-Royale-Source-Code-Repositories">
            <i class="fa fa-github"></i> Github
          </a></li>
        <li><a href="https://github.com/apache/royale-asjs/issues">
            <i class="fa fa-github"></i> Issues
          </a></li>
        <li><a href="/source-code">
            <i class="fa fa-code"></i> Source Code
          </a></li>
      </ul>
    </div>

    <div class="footer-column">
      <ul class="footer-list">
        <li class="social_t">Social</li>
        <li><a href="https://twitter.com/apacheroyale">
            <i class="fa fa-twitter"></i> Twitter
          </a></li>
        <li><a href="https://facebook.com/ApacheRoyaleSDK/">
            <i class="fa fa-facebook"></i> Facebook
          </a></li>
        <li><a href="https://www.linkedin.com/groups/12118437">
            <i class="fa fa-linkedin"></i> LinkedIn
          </a></li>
        <li><a href="/feed/index.xml">
            <i class="fa fa-rss"></i> RSS
          </a></li>
      </ul>
      <ul class="footer-list">
        <li class="apache"><a href="https://www.apache.org/">Apache</a></li>
        <li><a href="https://www.apache.org/">
            <i class="fa fa-external-link-square"></i> Apache
          </a></li>
        <li><a href="https://www.apache.org/foundation/contributing.html">
            <i class="fa fa-external-link-square"></i> Donations
          </a></li>
        <li><a href="https://www.apache.org/events/current-event">
            <i class="fa fa-external-link-square"></i> Events
          </a></li>
        <li><a href="https://www.apache.org/foundation/sponsorship.html">
            <i class="fa fa-external-link-square"></i> Sponsorship
          </a></li>
        <li><a href="https://www.apache.org/foundation/thanks.html">
            <i class="fa fa-external-link-square"></i> Thanks
          </a></li>
        <li><a href="https://www.apache.org/security/">
            <i class="fa fa-external-link-square"></i>Security
          </a></li>
      </ul>
    </div>

    <div class="aboutusdiv">
      <p class="aboutus">About Us</p>
      <p class="aboutus_p"><img class="aboutus-logo" src="/img/apache-royale-logo-footer-circle-grey.svg" /><a href="/" class="aboutus_a">Apache Royale™</a> is a highly productive open source application technology for building expressive frontend applications that outputs to different formats and deploy consistently on all major browsers, desktops and devices.</p>
      <p><img class="aboutus-apache-logo" src="/img/Apache_PoweredBy.svg" />
        <a href="/" class="aboutus_a">Apache Royale™</a>, <a href="https://www.apache.org" class="aboutus_a">Apache™</a> and the <a href="https://www.apache.org/foundation/press/kit/" class="aboutus_a">Apache feather logo™</a> are trademarks of The Apache Software Foundation. All other marks mentioned may be trademarks or registered trademarks of their respective owners. Read more about our privacy policy on our <a href="/privacy-policy">Privacy Policy page</a>.
      </p>
    </div>
  </div>
  <div class="asf">
    Copyright &copy; 2017-{{ "now" | date: "%Y" }} <a href="https://www.apache.org">The Apache Software Foundation</a>, Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>
  </div>
</footer>